<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改礼物管理')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-goldInfo-edit" th:object="${tUserGoldInfo}">
        <input name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">礼物名称：</label>
            <div class="col-sm-8">
                <input name="giftName" th:field="*{giftName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">礼物图片链接：</label>
            <div class="col-sm-8">
                <input name="giftUrl" th:field="*{giftUrl}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">礼物价格：</label>
            <div class="col-sm-8">
                <input name="giftGold" th:field="*{giftGold}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "marry/goldInfo";
    $("#form-goldInfo-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-goldInfo-edit').serialize());
        }
    }
</script>
</body>
</html>